.language-slider {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;

  .slick-slide {
    padding: 0 5px;
  }

  .language-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    margin: 10px;
    padding: 10px;
    text-align: center;

    .card-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

  @media screen and (max-width: 1024px) {
    .language-slider {
      .slick-prev,
      .slick-next {
        display: block;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .language-slider {
      padding: 0 20px;

      .slick-prev,
      .slick-next {
        display: block;
      }
    }

    .language-card {
      width: 100%;
    }
  }
}
