.slider-image {  
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  object-fit: contain;
}

/* Ekran boyutu 600px'den küçükse */
@media (max-width: 600px) {
  .slider-image {
    height: 60vh; /* Resmin boyunu artır */
    object-fit: cover; /* Resmi ekrana sığacak şekilde ölçeklendir */
  }
}
